In [1]:
import pandas as pd
import pulp

In [12]:
employees.columns

Index(['Working hours'], dtype='object')

In [11]:
employees = pd.DataFrame.from_csv('csv/employees.csv', index_col = ['Working days', 'Employee'])
employees

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:1: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls
  """Entry point for launching an IPython kernel.

                       Working hours
Working days Employee
Monday       KC                    6
Tuesday      KC                    0
Wednesday    KC                    6
Thursday     KC                    0
Friday       KC                    6
Monday       DH                    0
Tuesday      DH                    6
Wednesday    DH                    0
Thursday     DH                    6
Friday       DH                    0
Monday       HB                    4
Tuesday      HB                    8
Wednesday    HB                    4
Thursday     HB                    0
Friday       HB                    4
Monday       SC                    5
Tuesday      SC                    5
Wednesday    SC                    0
Thursday     SC                    0
Friday       SC                    5
Monday       KS                    3
Tuesday      KS                    0
Wednesday    KS                    0
Thursday     KS                    8
Friday       KS                    0
Monday       NK                    0
Tuesday      NK                    0
Wednesday    NK                    0
Thursday     NK                    6
Friday       NK                    2

In [5]:
wage = pd.DataFrame.from_csv('csv/wage.csv', index_col = ['Employee'])
wage

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:1: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls
  """Entry point for launching an IPython kernel.

          $/h
Employee
KC         25
DH         26
HB         24
SC         23
KS         28
NK         30

In [13]:
employees.index

MultiIndex(levels=[['Friday', 'Monday', 'Thursday', 'Tuesday', 'Wednesday'], ['DH', 'HB', 'KC', 'KS', 'NK', 'SC']],
           labels=[[1, 3, 4, 2, 0, 1, 3, 4, 2, 0, 1, 3, 4, 2, 0, 1, 3, 4, 2, 0, 1, 3, 4, 2, 0, 1, 3, 4, 2, 0], [2, 2, 2, 2, 2, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 5, 5, 5, 5, 5, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4]],
           names=['Working days', 'Employee'])

In [17]:
availability = pulp.LpVariable.dicts("availability",
                                     ((WorkingDays, Employee) for WorkingDays, Employee in employees.index),
                                     lowBound=0,
                                     cat='Integer')

In [18]:
availability

{('Friday', 'DH'): availability_('Friday',_'DH'),
 ('Friday', 'HB'): availability_('Friday',_'HB'),
 ('Friday', 'KC'): availability_('Friday',_'KC'),
 ('Friday', 'KS'): availability_('Friday',_'KS'),
 ('Friday', 'NK'): availability_('Friday',_'NK'),
 ('Friday', 'SC'): availability_('Friday',_'SC'),
 ('Monday', 'DH'): availability_('Monday',_'DH'),
 ('Monday', 'HB'): availability_('Monday',_'HB'),
 ('Monday', 'KC'): availability_('Monday',_'KC'),
 ('Monday', 'KS'): availability_('Monday',_'KS'),
 ('Monday', 'NK'): availability_('Monday',_'NK'),
 ('Monday', 'SC'): availability_('Monday',_'SC'),
 ('Thursday', 'DH'): availability_('Thursday',_'DH'),
 ('Thursday', 'HB'): availability_('Thursday',_'HB'),
 ('Thursday', 'KC'): availability_('Thursday',_'KC'),
 ('Thursday', 'KS'): availability_('Thursday',_'KS'),
 ('Thursday', 'NK'): availability_('Thursday',_'NK'),
 ('Thursday', 'SC'): availability_('Thursday',_'SC'),
 ('Tuesday', 'DH'): availability_('Tuesday',_'DH'),
 ('Tuesday', 'HB'): availability_('Tuesday',_'HB'),
 ('Tuesday', 'KC'): availability_('Tuesday',_'KC'),
 ('Tuesday', 'KS'): availability_('Tuesday',_'KS'),
 ('Tuesday', 'NK'): availability_('Tuesday',_'NK'),
 ('Tuesday', 'SC'): availability_('Tuesday',_'SC'),
 ('Wednesday', 'DH'): availability_('Wednesday',_'DH'),
 ('Wednesday', 'HB'): availability_('Wednesday',_'HB'),
 ('Wednesday', 'KC'): availability_('Wednesday',_'KC'),
 ('Wednesday', 'KS'): availability_('Wednesday',_'KS'),
 ('Wednesday', 'NK'): availability_('Wednesday',_'NK'),
 ('Wednesday', 'SC'): availability_('Wednesday',_'SC')}

In [19]:
wage = pulp.LpVariable.dicts("wage",
                                     ((Employee, Wage) for Employee, Wage in wage.index),
                                     lowBound=0,
                                     cat='Integer')

In [ ]:
model = pulp.LpProblem("Cost minimising scheduling problem", pulp.LpMinimize)

In [ ]:
model += pulp.lpSum(